<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47543792602-qopqmok1g3uhu92pa7ktmehihnkhulg1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47543792602-qopqmok1g3uhu92pa7ktmehihnkhulg1</string>
	<key>API_KEY</key>
	<string>AIzaSyBZwi2ENDSZZSjN9hZJxT3EgrtQp3CAS9I</string>
	<key>GCM_SENDER_ID</key>
	<string>47543792602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weZYou</string>
	<key>PROJECT_ID</key>
	<string>wezyou-5675f</string>
	<key>STORAGE_BUCKET</key>
	<string>wezyou-5675f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47543792602:ios:d146d76fcb78bdaa3d86e3</string>
</dict>
</plist>